* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-avatar {
    margin: 5px;
}

.perfil-box {
    display: flex;
    flex-direction: column;
    gap:8px;
    align-items: center;

}

.perfil-box p{
    font-weight: 400;
}

.topo {
    width: 100%;
    border-radius: 5px;
    height: 90px;
}

.perfil {
    width: 94px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid white;
    height: 105px;
    width: 105px;
}