.home-container {
    display: flex;
    gap: 40px;
}

.content {
    flex-direction: column;
}

.title-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0;
    align-items: center;

}

.title-header a{
    color: #28A49C;
    text-decoration: none;
}

.list-imgs{
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}