.home-container {
    display: flex;
    gap: 2vw;
    position: relative;
}

.content-escuro{
    
}

.content {
    flex-direction: column;
}

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0;
    align-items: center;

}

.title-header h2 {
    font-size: 1.5rem;
}

.title-header h5 {
    font-size: 0.8rem;
}

.title-header a {
    color: #28A49C;
    text-decoration: none;
}

.container-home{
    margin: 0 0 5% 0;
}

.list-imgs {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}

@media only screen and (max-width: 850px) {

    .title-header h2 {
        font-size: 1.3rem;
    }

    .title-header h5 {
        font-size: 0.7rem;
    }


}

@media only screen and (max-width: 760px) {

    .title-header h2 {
        font-size: 1.1rem;
    }

    .title-header h5 {
        display: none;
    }


}