.container-usuario {
    width: 85%;
}

.Perfil_usuario {
    display: flex;
    flex-wrap: wrap;
}

.header-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 25px;
    margin-bottom: 5px;

}

.titulo-perfil-usuario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 215px;
}

.box-seguidores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
}

.box-seguidores .seguidores {
    font-weight: 600;
    font-size: 1.2rem;
    color: #929292;
}

.box-seguidores .seguindo {
    font-weight: 600;
    font-size: 1.2rem;
    color: #929292;
}

.btn-bio {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: 38px;
    padding: 0.5rem;
    background: #01887f;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.btn-bio span {
    font-weight: 580;
    font-size: 1rem;
}

.border-bottom {
    border-bottom: 1px solid #000000;
    margin: 0 25px;
}

.box-membro {
    width: 215px;
    height: 27px;
    padding: 0 25px;
    margin: 16px 0;
    margin-left: 20px;
    font-size: 16px;
    color: #929292;


}

.bio {
    width: 500px;
    width: 582px;
    padding: 0 25px;
    font-size: 20px;
    line-height: 24px;
    color: #424242;
    margin-bottom: 25px;
}

.titulo {
    padding: 0 25px;
    margin: 15px 0;
}

.list-communities{
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 0 25px;
    margin-bottom: 20px;
}